<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
<nav class="navbar">
    <div class="logo">
        <li><a th:href="@{/routine}" >Routine Manager</a></li>
    </div>
    <ul class="nav-links">
        <li><a href="#" >Teacher</a></li>
        <li><a th:href="@{/student}">Student</a></li>
        <li><a th:href="@{/subjects}">Subject</a></li>
    </ul>
    <div class="nav-buttons">
        <a href="#" class="login-button">Login</a>
        <a href="#" class="signup-button">Sign Up</a>
    </div>
</nav>
<div class="container">
    <div class="routine-system">
        <h2>TEACHER Management System</h2>
        <p>Welcome to our TEACHER Management System. This system helps you organize and manage your daily routines
            effectively. Plan your day, stay on track, and boost productivity!</p>
        <button>Get Started</button>
    </div>
    <div class="routine-system">
        <h2>TEACHER Management System</h2>
        <p>Welcome to our TEACHER Management System. This system helps you organize and manage your daily routines
            effectively. Plan your day, stay on track, and boost productivity!</p>
        <button>Get Started</button>
    </div>
    <div class="routine-system">
        <h2>TEACHER Management System</h2>
        <p>Welcome to our TEACHER Management System. This system helps you organize and manage your daily routines
            effectively. Plan your day, stay on track, and boost productivity!</p>
        <button>Get Started</button>
    </div>

</div>
<div class="container">
    <div class="routine-system">
        <h2>TEACHER Management System</h2>
        <p>Welcome to our TEACHER Management System. This system helps you organize and manage your daily routines
            effectively. Plan your day, stay on track, and boost productivity!</p>
        <button>Get Started</button>
    </div>
    <div class="routine-system">
        <h2>TEACHER Management System</h2>
        <p>Welcome to our TEACHER Management System. This system helps you organize and manage your daily routines
            effectively. Plan your day, stay on track, and boost productivity!</p>
        <button>Get Started</button>
    </div>
    <div class="routine-system">
        <h2>TEACHER Management System</h2>
        <p>Welcome to our TEACHER Management System. This system helps you organize and manage your daily routines
            effectively. Plan your day, stay on track, and boost productivity!</p>
        <button>Get Started</button>
    </div>

</div>
</body>

</html>